*{
	margin:0px;
	padding:0px;
}

.container{
/*	background-color:lavender;*/
	margin:0px;
	padding:0px;
	width:100%;
	height:2000px;

}

.header{
	height:900px;
	width:100%;
	position:scroll;
	margin:auto;
	background-image:url("images/header.jpg");
	background-color:rgba(0,102,197,0.2);
	background-repeat:norepeat;
	background-size:cover;
	/* position:fixed; */
}


.overlay{
	height:inherit;
	align-content:center;
	justify-content:center;
	align-items:center;
	display:flex;
	flex-direction:column;
	gap:15px 15px;
	font-family:arial,sans-serif;
	background-color:rgba(27,38,79,0.8);
	color:white;
}
.overlay h1{
	font-size:70px;
}

.overlay a{
	font-size:18px;
	border:2px solid #006FBB;
	border-radius:5px;
	padding:30px 50px 30px 50px;
	color:#00AFEF;
	list-style:none;
	text-decoration:none;
}

.overlay a:hover{
	font-size:18px;
	border:2px solid navy;
	border-radius:5px;
	padding:30px 50px 30px 50px;
	color:Navy;
	font-weight:bolder;
	background-color:skyblue;
}

ul{
	color:white;
	list-style:none;
	min-height:inherit;
	justify-content:center;
	align-content:center;
	font-family:arial, sans serif;
	font-size:20px;
	position:fixed;
	margin-top:230px;
	margin-left:30px;
}

ul li{
		padding-top:25px;
		padding-bottom:10px;
		min-height:40px;
		border-radius:5px;
}

ul li:hover{
		padding-top:25px;
		padding-bottom:10px;
		background-color:white;
		min-height:40px;
		
}

ul li a{
		color:skyblue;
		text-decoration:none;
		width:200px;
		padding-left:30px;
		padding-right:20px;
		padding-top:30px;
		padding-bottom:30px;
}

ul li a:hover{
		color:#1B264F;
		text-decoration:none;
		width:200px;
		padding-left:30px;
		padding-right:20px;
		padding-top:30px;
		padding-bottom:30px;
}


ul li.active a{
		color:white;	
}

.about {
	margin: auto;
	text-align: center;
	margin-top: 5%;
	/* border:2px solid red; */
	height:700px;
}
.intro-me {
	color: skyblue;
}
.my-info {
	display: flex;
	margin: auto;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 80%;
}
.my-info img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.info-text {
	justify-content: center;
	align-content: center;
	margin: 15px;
	text-align: left;
}
.info-text h3{
		width: 80%;
}
.details {
	display: flex;
	justify-content: center;
	align-content: center;
}
.profile {
	text-align: left;
	width: 20%;
	justify-content: space-between;
}
.profile h4{
	font-weight: bold;
}
.profile p {
	color: grey;
	font-weight: bolder;
}

.profile .div{
	margin: 30px 0px 30px 0px;
}


.skills {
	width: 30%;
	text-align: left;
}
.skills h2 {
	font-weight: bolder;
	color: darkblue;
}
.skills p {
	color: gray;
}
.btns {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 2%;
}
.btns button {
	height: 50px;
	width: 200px;
}
.btn1 {
	background-color: transparent;
	border: 2px solid darkblue;
	color: white;
	font-weight: bolder;
	color: darkblue;
	cursor: pointer;
}
.btn2 {
	background-color: darkblue;
	border: 2px solid darkblue;
	color: white;
	font-weight: bolder;
	color: white;
	cursor: pointer;
}
.skillbar {

	justify-content: left;
	align-items: left;
	margin: auto;
	margin-top: 2%;
	/* background-color: red; */
}

.percentage {
	background-color: lightgray;
	height: 10px;
}

.html {
	background-color: skyblue;
	width: 90%;
	height: 10px;
	border-radius: 5px;
}
.css {
	background-color: skyblue;
	width: 60%;
	height: 10px;
	border-radius: 5px;
}

.javascript{
	background-color: skyblue;
	width: 60%;
	height: 10px;
	border-radius: 5px;
}

.react {
	background-color: skyblue;
	width: 50%;
	height: 10px;
	border-radius: 5px;
}
.jquery {
	background-color:skyblue;
	width: 80%;
	height: 10px;
	border-radius: 5px;
}

.ajax {
	background-color: skyblue;
	width:90%;
	height: 10px;
	border-radius: 5px;
}

.python {
	background-color: skyblue;
	width:100%;
	height: 10px;
	border-radius: 5px;
}
.portfolio {
	text-align: center;
	justify-content: center;
	align-content: center;
	margin: auto;
	background-color:#1B264F;
	padding-top:30px;
	padding-bottom:70px;
	height:1400px;

}


.portfolio-header h1{
	text-align: center;
	color: skyblue;
	font-family:"Gill Sans Extrabold", sans-serif;
	font-size:45px;

}
.portfolio-header h3 {
	font-weight: bolder;
	color:white;
	font-family:"Gill Sans Extrabold", sans-serif;
	font-size:18px;
	
}
.portfolio-header p {
	color: gray;
	font-weight: bolder;
	color:white;
}
.portfolio-works {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin: auto;
	gap: 10px;
	margin-top: 2%;
}
.portfolio-works .cardone {
	height: 500px;
	width: 700px;
	background-image: url(images/web.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 2%;
}
.portfolio-works .cardtwo {
	height: 400px;
	width: 700px;
	background-image: url(images/web2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 2%;
}
.text {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
	vertical-align: center;
}
.text:hover {
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
.text h1 {
	color: darkblue;
	margin: auto;
	display: none;
}
.contact{
	display:flex;
	margin-top:30px;
	margin-bottom:30px;
	width:80%;
	align-content:center;
	justify-content:center;
	float:left;
	margin-left:200px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #274690;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
  font-family:Times new roman, times, serif;
}


input[type=submit] {
  background-color: #1B264F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #274690;
}

.form {
  border-radius: 5px;
  background-color: ghostwhite;
  padding: 20px;
  width:60%;
  height:inherit;
}

.address {
  border-radius: 5px;
  background-color: ghostwhite;
  padding: 20px;
  width:40%;
  height:inherit;
}

.map{
	width:100%;
	height:500px;
}


.footer {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	align-items: center;
	height: 300px;
	margin-top: 3%;
	background-color:#1B264F;
}
.footer-inner {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	box-shadow:10px;
}
.footer h5{
	color: skyblue;
}
/* .findme { */
	/* margin: auto; */
	/* justify-content: center; */
	/* align-items: center; */
	/* text-align: center; */
/* } */
/* .findme img { */
	/* height: 60px; */
	/* width: 60px; */
/* } */
/* .email { */
	/* margin: auto; */
	/* justify-content: center; */
	/* align-items: center; */
	/* text-align: center; */
	/* color: darkblue; */
/* } */
/* .email img { */
	/* height: 60px; */
	/* width: 60px; */
/* } */
/* .findme h4 { */
	/* color: darkblue; */
/* } */
/* .callme { */
	/* margin: auto; */
	/* justify-content: center; */
	/* align-items: center; */
	/* text-align: center; */
	/* color: darkblue; */
/* } */
/* .callme img { */
	/* height: 60px; */
	/* width: 60px; */
/* } */
.footer-buttom {
	height: 100px;
	/* border-top: 1px solid gray; */
	width: 100%;
	text-align: center;
	background-color:#1B264F;
	padding-top:80px;
	color:skyblue;
}



@media screen and (max-width:480px){
	.content{
		flex-direction:column;
	}

	.content div{
	width:100%;
	}

.map{
	width:100%;
	height:500px;
}

}

.footer{
	width:100%;
	min-height:100px;
	border:1px solid red;
}
	
